.ant-btn{
  margin-right: 10px;
}
#root {
  .ant-card-bordered{
    margin-top: 10px;
  }
  .ant-card {
    margin-top: 10px;
  }
  .vertical-center {
    text-align: center;
    white-space: nowrap;
  }
}
